<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/css/menus.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
    <title>Academia UDEC</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="#" class="navbar-brand">Logo</a>
        <button class="navbar-toggler" type="button" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    @Html.ActionLink("Home -", "Index", "Home")

                </li>
                <li class="nav-item">
                    @Html.ActionLink(" - Registro -", "Registrar", "Home")
                </li>

                <li class="nav-item">
                    @Html.ActionLink(" - Listar Usuarios -", "ConsultaUsuarios", "Home")
                </li>


                <li class="nav-item">
                    @Html.ActionLink(" - Salir", "CerrarSesion", "Home")
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Johnathan Perez - David Bustos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>