@{
    //Layout = null;
    ViewBag.Title = "Modificar Usuario";
}

<!DOCTYPE html>

<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/Content/css/registro.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modificar Usuario <small>Academia</small></h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="registro" name="registro" action=""@Url.Action("ModificarUsuario","Home")" method="post">
                            <div class="form-group">
                                <input type="hidden" name="IdUsuario" id="IdUsuario" value="@Model.IdUsuario" />
                                <select name="PerfilUsuario" id="PerfilUsuario" class="form-control input-sm" placeholder="Perfil">
                                    @if (Model.PerfilUsuario == 1)
                                    {
                                        <option value="1" selected>Administrador</option>
                                        <option value="2">Usuario</option>
                                    }
                                    @if (Model.PerfilUsuario == 2)
                                    {
                                        <option value="1">Administrador</option>
                                        <option value="2" selected>Usuario</option>
                                    }

                                </select>
                                <!--<input type="text" name="PerfilUsuario" id="PerfilUsuario" class="form-control input-sm" placeholder="Perfil">-->
                            </div>
                            <div class="form-group">
                                <input type="text" name="LoginUsuario" id="LoginUsuario" class="form-control input-sm" placeholder="Username" value="@Model.LoginUsuario" readonly>
                            </div>
                            <div class="form-group">
                                <select name="IdTipoDocUsuario" id="IdTipoDocUsuario" class="form-control input-sm" placeholder="Tipo Documento">
                                    @if (Model.IdTipoDocUsuario == 1)
                                    {
                                        <option value="1" selected>Cédula de Ciudadanía</option>
                                        <option value="2">Tarjeta de Identidad</option>
                                    }
                                    @if (Model.IdTipoDocUsuario == 1)
                                    {
                                        <option value="1">Cédula de Ciudadanía</option>
                                        <option value="2" selected>Tarjeta de Identidad</option>
                                    }
                                    <option value="1">Cédula de Ciudadanía</option>
                                    <option value="2">Tarjeta de Identidad</option>
                                </select>
                                <!--<input type="text" name="IdTipoDocUsuario" id="IdTipoDocUsuario" class="form-control input-sm" placeholder="Tipo Documento">-->
                            </div>
                            <div class="form-group">
                                <input type="text" name="DocumentoUsuario" id="DocumentoUsuario" class="form-control input-sm" placeholder="Número Documento" value="@Model.DocumentoUsuario" required>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="Nombre1Usuario" id="Nombre1Usuario" class="form-control input-sm" placeholder="Primer Nombre" value="@Model.Nombre1Usuario" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="Nombre2Usuario" id="Nombre2Usuario" class="form-control input-sm" placeholder="Segundo Nombre" value="@Model.Nombre2Usuario">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="Apellido1Usuario" id="Apellido1Usuario" class="form-control input-sm" placeholder="Primer Apellido" value="@Model.Apellido1Usuario" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="Apellido2Usuario" id="Apellido2Usuario" class="form-control input-sm" placeholder="Segundo Apellido" value="@Model.Apellido2Usuario">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="email" name="EmailUsuario" id="EmailUsuario" class="form-control input-sm" placeholder="Email" value="@Model.EmailUsuario" required>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="ClaveUsuario" id="ClaveUsuario" class="form-control input-sm" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="ConfirmarClave" id="ConfirmarClave" class="form-control input-sm" placeholder="Confirmar Password">
                                    </div>
                                </div>
                            </div>

                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            }

                            <input type="submit" id="btn_registro" value="Actualizar" class="btn btn-info btn-block">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/registro.js"></script>
</body>

</html>
